@main(description = Messages("index.description.meta"))(title = Messages("title")) {
<div id="header">
  <div class="container">
    <h1>
      @Messages("index.title")
    </h1>
    <p>
      @Messages("index.description.1")
    </p>
    <p>
      @Messages("index.description.2")
    </p>
    <div class="frame">
      <p class="frame-title">
        @Messages("index.whyworkwithus.title")
      </p>
      <div class="row">
        <div class="col-md-6">
          <p>
            @Messages("index.whyworkwithus.point.1")
          </p>
        </div>
        <div class="col-md-6">
          <p>
            @Messages("index.whyworkwithus.point.2")
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            @Messages("index.whyworkwithus.point.3")
          </p>
        </div>
        <div class="col-md-6">
          <p>
            @Messages("index.whyworkwithus.point.4")
          </p>
        </div>
      </div>
    </div>
    <p>
      @Messages("index.description.3")
    </p>
  </div>
</div>

<div class="container solution">  
  <div class="row">
      <div class="col-md-3 coral">
      <a href="@routes.Application.enterprise()">
        @Messages("index.page.4")
      </a>
    </div>
        <div class="col-md-3 blue">
      <a href="@routes.Application.advert()">
        @Messages("index.page.3")
      </a>
    </div>
    <div class="col-md-3 green">
      <a href="@routes.Application.general()">
        @Messages("index.page.1")
      </a>
    </div>
    <div class="col-md-3 lightgreen">
      <a href="@routes.Application.startup()">
        @Messages("index.page.2")
      </a>
    </div>
  </div>  
</div>
      
<div class="footer">
   @Messages("footer")
</div>
}